


<form class="form-signin" [formGroup]="form" (ngSubmit)="onSubmit()">
<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
  {{ errorMessage }}
</div>
  <div class="form-label-group">
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus=""
      formControlName="email">
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required=""
      formControlName="password">
  </div>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

</form>
