
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">CarShield Projects</a>

    <div class="collapse navbar-collapse pe-3" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/projects">Projects</a>
          </li>
         
          
        </ul>
      <form class="form-inline my-2 my-lg-0 ms-auto">
        <button type="button" class="btn btn-primary" (click)="onLogout()">Log Out</button>
      </form>
        
      </div>

</nav>