<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">My Tasks</h3>
                </div>
                <div class="card-body">
                    <app-task-list [projectTasks]="(projectTasks$ | async) || []"
                        [currentUser]="(currentUser$ | async)">
                    </app-task-list>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">My Projects</h3>
                </div>
                <div class="card-body">
                    <app-projects-list [projects]="(projects$ | async) || []" [currentUser]="(currentUser$ | async)">
                    </app-projects-list>
                </div>
            </div>
        </div>
    </div>
</div>